# Ignorer les répertoires de build
/build/

# Ignorer les fichiers de configuration de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore executables and libraries
*.exe
*.dll
*.so
*.dylib

# Ignorer les fichiers et répertoires de Docker + logs and temporary files
*.tar
*.log
docker-compose.override.yml
.docker/
*.tmp

# Ignorer les fichiers d'éditeurs et d'IDEs
.vscode/
.idea/
*.swp
